http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/integrations/v1/me?hapikey=demo
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B07EF03E859C46322F7A5A1200595B570494F5F85000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '994087'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '118'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '11'
    body:
      encoding: UTF-8
      file: no
      string: '{"portalId":62515,"timeZone":"America/Indianapolis","currency":"USD","utcOffsetMilliseconds":-18000000,"utcOffset":"-05:00"}'
  recorded_at: 2020-01-06 13:25:38 GMT
  recorded_with: vcr/0.4.1.92, webmockr/0.5.0
- request:
    method: get
    uri: https://api.hubapi.com/integrations/v1/limit/daily?hapikey=demo
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2BDC275913DFBCC40F5EE36DF1F52C9F793F348D47000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '994085'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '116'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '11'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"api-calls-daily","usageLimit":1000000,"currentUsage":5911,"collectedAt":1578317137682,"fetchStatus":"CACHED","resetsAt":1578373200000}]'
  recorded_at: 2020-01-06 13:25:38 GMT
  recorded_with: vcr/0.4.1.92, webmockr/0.5.0
