http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/integrations/v1/me?hapikey=demo
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B3CDB6CA25E1202914538717B91992DA999A3D1E0000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '988741'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '118'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '11'
    body:
      encoding: UTF-8
      file: no
      string: '{"portalId":62515,"timeZone":"America/Indianapolis","currency":"USD","utcOffsetMilliseconds":-18000000,"utcOffset":"-05:00"}'
  recorded_at: 2020-01-31 17:52:25 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: https://api.hubapi.com/integrations/v1/limit/daily?hapikey=demo
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B77198C2DC3C1A0EBE73D9C69AA19131128CF67FA000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '988739'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '116'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '11'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"api-calls-daily","usageLimit":1000000,"currentUsage":11006,"collectedAt":1580492880233,"fetchStatus":"CACHED","resetsAt":1580533200000}]'
  recorded_at: 2020-01-31 17:52:25 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
