http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/companies/properties/?hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B174AB50A4CBAE73F61BE2B07AEE429680E7529A0000000000000000000
    body:
      encoding: UTF-8
      string: '[{"name":"about_us","label":"About Us","description":"Short about-company","groupName":"companyinformation","type":"string","fieldType":"text","currencyPropertyName":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":null,"hidden":false,"options":[],"deleted":null,"createdAt":null,"updatedAt":null,"formField":false,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":true,"hasUniqueValue":false,"referencedObjectType":null,"createdUserId":null,"searchableInGlobalSearch":false},{"name":"facebookfans","label":"Facebook
        Fans","description":"Number of facebook fans","groupName":"socialmediainformation","type":"number","fieldType":"number","currencyPropertyName":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":null,"hidden":false,"options":[],"deleted":null,"createdAt":null,"updatedAt":null,"formField":false,"displayOrder":-1,"read[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?limit=250&propertiesWithHistory=true&properties=about_us&properties=facebookfans&properties=first_conversion_date&properties=first_conversion_event_name&properties=first_deal_created_date&properties=founded_year&properties=hs_additional_domains&properties=hs_analytics_first_timestamp&properties=hs_analytics_first_touch_converting_campaign&properties=hs_analytics_first_visit_timestamp&properties=hs_analytics_l[...]
