http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/contacts/properties?hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B36ABB64F6836AF7F15BD8C4821B0B11B157322A6000000000000000000
    body:
      encoding: UTF-8
      string: '[{"name":"annualrevenue","label":"Annual Revenue","description":"Annual
        company revenue","groupName":"contactinformation","type":"string","fieldType":"text","optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"textDisplayHint":null,"numberDisplayHint":null,"optionSortStrategy":null,"updatedUserId":215482,"hidden":false,"options":[],"updatedAt":1501001226232,"deleted":false,"createdAt":1352496309773,"formField":true,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":false,"hubspotDefined":true,"referencedObjectType":null,"hasUniqueValue":false,"createdUserId":null,"searchableInGlobalSearch":false,"currencyPropertyName":null},{"name":"company_size","label":"Company
        size","description":"A contact''s company size. This property is required
        for the Facebook Ads Integration. This property will be automatically synced
        via the Lead Ads tool","groupName":"contactinformation","type":"string","fieldType":"text","optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"textDisplayHint":null,"numberDisplayHint":null,"optionSortStrategy":null,"updatedUserId":null,"hidden":f[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?count=100&propertyMode=value_and_history&formSubmissionMode=newest&showListMemberships=false&properties=annualrevenue&properties=company_size&properties=date_of_birth&properties=degree&properties=field_of_study&properties=first_deal_created_date&properties=gender&properties=graduation_date&properties=hs_additional_emails&properties=hs_all_contact_vids&properties=hs_analytics_first_touch_converting_campa[...]
