http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/contacts/properties?hapikey=demo
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B26750C12E96BC7E967DE383BD1FA2E5CC03F68B5000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '996446'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '117'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '11'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"annualrevenue","label":"Annual Revenue","description":"Annual
        company revenue","groupName":"contactinformation","type":"string","fieldType":"text","createdUserId":null,"searchableInGlobalSearch":false,"referencedObjectType":null,"hasUniqueValue":false,"optionSortStrategy":null,"numberDisplayHint":null,"currencyPropertyName":null,"textDisplayHint":null,"isCustomizedDefault":false,"updatedUserId":215482,"hidden":false,"options":[],"optionsAreMutable":null,"searchTextAnalysisMode":null,"deleted":false,"createdAt":1352496309773,"formField":true,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":false,"hubspotDefined":true,"updatedAt":1501001226232},{"name":"company_size","label":"Company
        size","description":"A contact''s company size. This property is required
        for the Facebook Ads Integration. This property will be automatically synced
        via the Lead Ads tool","groupName":"contactinformation","type":"string","fieldType":"text","createdUserId":null,"searchableInGlobalSearch":false,"referencedObjectType":null,"hasUniqueValue":false,"optionSortStrategy":null,"numberDisplayHint":null,"currencyPropertyName":[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?count=100&propertyMode=value_and_history&formSubmissionMode=newest&showListMemberships=false&property=annualrevenue&property=company_size&property=date_of_birth&property=degree&property=field_of_study&property=first_deal_created_date&property=gender&property=graduation_date&property=hs_additional_emails&property=hs_all_contact_vids&property=hs_analytics_first_touch_converting_campaign&property=hs_analyt[...]
