http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/deals/properties/?hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B976FB21CEECC740876890BC0E87C450D1F2BF7F2000000000000000000
    body:
      encoding: UTF-8
      string: '[{"name":"amount_in_home_currency","label":"Amount in company currency","description":"The
        amount of the deal, using the exchange rate, in your company''s currency","groupName":"dealinformation","type":"number","fieldType":"calculation_equation","deleted":null,"createdAt":null,"updatedAt":null,"formField":false,"displayOrder":-1,"readOnlyValue":true,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":true,"displayMode":"current_value","showCurrencySymbol":true,"hubspotDefined":true,"hidden":false,"hasUniqueValue":false,"referencedObjectType":null,"optionSortStrategy":null,"currencyPropertyName":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"updatedUserId":null,"options":[],"searchableInGlobalSearch":false,"createdUserId":null},{"name":"days_to_close","label":"Days
        to close","description":"The number of days the deal took to close","groupName":"dealinformation","type":"number","fieldType":"calculation_equation","deleted":null,"createdAt":null,"updatedAt":null,"formField":false,"displayOrder":-1,"readOnlyValue":true,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":true,"displayMode":"current_value","showCurrencySymbol[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/paged?limit=250&includeAssociations=true&propertiesWithHistory=true&properties=amount_in_home_currency&properties=days_to_close&properties=hs_analytics_source&properties=hs_analytics_source_data_1&properties=hs_analytics_source_data_2&properties=hs_campaign&properties=hs_closed_amount&properties=hs_closed_amount_in_home_currency&properties=hs_deal_amount_calculation_preference&properties=hs_deal_stage_probability&properties[...]
