http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners?includeInactive=TRUE&hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B88DD443E0EF0FE8F07614F029A8FB64B27F486D7000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '993580'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '113'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '11'
    body:
      encoding: UTF-8
      file: no
      string: '[{"portalId":62515,"ownerId":2293817,"type":"PERSON","firstName":"","lastName":"","email":"8cbe1236-68f1-43fd-bc4a-7fdaa9d35ac4@deleteduser","createdAt":1413408816660,"updatedAt":1567900907676,"remoteList":[{"id":1209586,"portalId":62515,"ownerId":2293817,"remoteId":"659531","remoteType":"HUBSPOT","active":false}],"hasContactsAccess":false,"userIdIncludingInactive":659531,"isActive":false,"activeUserId":null,"activeSalesforceId":null},{"portalId":62515,"ownerId":31730833,"type":"PERSON","firstName":"","lastName":"","email":"puru@nendu.com","createdAt":1522045877973,"updatedAt":1522045878851,"remoteList":[{"id":27338764,"portalId":62515,"ownerId":31730833,"remoteId":"5618795","remoteType":"HUBSPOT","active":false}],"hasContactsAccess":false,"userIdIncludingInactive":5618795,"isActive":false,"activeUserId":null,"activeSalesforceId":null},{"portalId":62515,"ownerId":31751163,"type":"PERSON","firstName":"","lastName":"","em[...]
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners?includeInactive=TRUE&email=demo%40hubspot.com&hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B98F7AEC927F17EC967B6EB0901258FB9A226F0D2000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '993578'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '111'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '11'
    body:
      encoding: UTF-8
      file: no
      string: '[{"portalId":62515,"ownerId":71,"type":"PERSON","firstName":"demo","lastName":"demo","email":"demo@hubspot.com","createdAt":1405605859418,"updatedAt":1502455462834,"remoteList":[{"id":29598,"portalId":62515,"ownerId":71,"remoteId":"238058","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false,"userIdIncludingInactive":238058,"activeSalesforceId":null,"isActive":true,"activeUserId":238058}]'
  recorded_at: 2020-01-14 08:55:24 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
