http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/contacts/properties?hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B01CBADF6EB085699853A7BA7957E6AA3BBEE89A2000000000000000000
    body:
      encoding: UTF-8
      string: '[{"name":"annualrevenue","label":"Annual Revenue","description":"Annual
        company revenue","groupName":"contactinformation","type":"string","fieldType":"text","optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"textDisplayHint":null,"numberDisplayHint":null,"optionSortStrategy":null,"updatedUserId":215482,"hidden":false,"options":[],"createdAt":1352496309773,"deleted":false,"updatedAt":1501001226232,"formField":true,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":false,"hubspotDefined":true,"hasUniqueValue":false,"referencedObjectType":null,"createdUserId":null,"searchableInGlobalSearch":false,"currencyPropertyName":null},{"name":"company_size","label":"Company
        size","description":"A contact''s company size. This property is required
        for the Facebook Ads Integration. This property will be automatically synced
        via the Lead Ads tool","groupName":"contactinformation","type":"string","fieldType":"text","optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"textDisplayHint":null,"numberDisplayHint":null,"optionSortStrategy":null,"updatedUserId":null,"hidden":f[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?count=100&propertyMode=value_and_history&formSubmissionMode=newest&showListMemberships=false&properties=annualrevenue&vidOffset=0&hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '993060'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-remaining: '115'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '11'
      x-trace: 2BB96FF3C9A6F78721E90F9E67BB8178DADE6C6F87000000000000000000
    body:
      encoding: UTF-8
      string: '{"contacts":[{"addedAt":1536741639923,"vid":9332174,"canonical-vid":9332174,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mMVe_X8-oBG7l80uESo9hbQOOXYXvSUActPDgDWceLtYem3ITnRSqpQyA9azqZSWp9yqj9933y93pE5lXJwqGeO8AHVYbTlngLKWUQKO0T1OVsbacuFXQKg21g_AwaOKGWXMdcB","profile-url":"https://app.hubspot.com/contacts/62515/contact/9332174","properties":{"firstname":{"value":"User","versions":[{"value":"User","source-type":"API","source-id":null,"source-label":null,"timestamp":1536741639784,"selected":false}]},"lastmodifieddate":{"value":"1573272486340","versions":[{"value":"1573272486340","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1573272486340,"selected":false}]},"lastname":{"value":"Testerson","versions":[{"value":"Testerson","source-type":"API","source-id":null,"source-label":null,"timestamp":1536741639784,"selected":false}]}},"form-submissions":[],"identity-profiles":[{"vid":9332174,"saved-at-timestamp":1536741639806,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"user.testerson@test-provider.com","timestamp":1536741639789,"is-primary":true},{"type":"LEAD_GUID","value":"83f94187-80d0-4dae-88b6-fa3b9dd56741","timestamp":1536741639804}]}],"merge-audits":[]},{"addedAt":1536742229418,"vid":9332474,"canonical-vid":9332474,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mORflxHo5eWSjGDdDWzCFdblxblfPijb9dulJZ_88Whj71CKCNeN72nWS_HXIyamcF9QY5ADqMJlN2n-x1vx6mxI-23OpMvG0vH7x9T_msWNbGw2-Fl_z5xy-DBm5XKVvGW4w88","profile-url":"https://app.hubspot.com/contacts/62515/contact/9332474","properties":{"firstname":{"value":"User","versions":[{"value":"User","source-type":"API","source-id":null,"source-label":null,"timestamp":15367422292[...]
