http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/contacts/properties?hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B7E347E83E9C441E1B69988718789BE221CF32F9F000000000000000000
    body:
      encoding: UTF-8
      string: '[{"name":"annualrevenue","label":"Annual Revenue","description":"Annual
        company revenue","groupName":"contactinformation","type":"string","fieldType":"text","currencyPropertyName":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":215482,"hidden":false,"options":[],"deleted":false,"createdAt":1352496309773,"updatedAt":1501001226232,"formField":true,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":false,"hubspotDefined":true,"referencedObjectType":null,"hasUniqueValue":false,"searchableInGlobalSearch":false,"createdUserId":null},{"name":"company_size","label":"Company
        size","description":"A contact''s company size. This property is required
        for the Facebook Ads Integration. This property will be automatically synced
        via the Lead Ads tool","groupName":"contactinformation","type":"string","fieldType":"text","currencyPropertyName":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"up[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?count=100&propertyMode=value_and_history&formSubmissionMode=newest&showListMemberships=false&properties=annualrevenue&vidOffset=0&hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '995649'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-remaining: '110'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '11'
      x-trace: 2BB09B62CC1880D840178B04D986DE4D7538E32743000000000000000000
    body:
      encoding: UTF-8
      string: '{"contacts":[{"addedAt":1536741639923,"vid":9332174,"canonical-vid":9332174,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNg1lVwE6v51b2TRujboKpLhRqfNHXysPLhp3axF9fvWFtXWv-yUle4hhSdT7OlnxEi37-zKwEjQiBoNNlPKKeuWXelLERDMNPD18K7Ex5vgQTSCAkwukmsIgeG17FxDsxrc645","profile-url":"https://app.hubspot.com/contacts/62515/contact/9332174","properties":{"firstname":{"value":"User","versions":[{"value":"User","source-type":"API","source-id":null,"source-label":null,"timestamp":1536741639784,"selected":false}]},"lastmodifieddate":{"value":"1573272486340","versions":[{"value":"1573272486340","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1573272486340,"selected":false}]},"lastname":{"value":"Testerson","versions":[{"value":"Testerson","source-type":"API","source-id":null,"source-label":null,"timestamp":1536741639784,"selected":false}]}},"form-submissions":[],"identity-profiles":[{"vid":9332174,"saved-at-timestamp":1536741639806,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"user.testerson@test-provider.com","timestamp":1536741639789,"is-primary":true},{"type":"LEAD_GUID","value":"83f94187-80d0-4dae-88b6-fa3b9dd56741","timestamp":1536741639804}]}],"merge-audits":[]},{"addedAt":1536742229418,"vid":9332474,"canonical-vid":9332474,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mMD6PeuxVn5P3MvYWwPwzMUdKaRUTGW2Fzc2pUvVx7MJcsfETa37ASv0vxrO3l8w7yT_KzIRiQxvCqZRVJtYRO3UQEhhT2KtQqkXK4pGyag9RI92lXu-54V-7et-fXWyIsF-qYM","profile-url":"https://app.hubspot.com/contacts/62515/contact/9332474","properties":{"firstname":{"value":"User","versions":[{"value":"User","source-type":"API","source-id":null,"source-label":null,"timestamp":15367422292[...]
