http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/companies/properties/?hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B7F5A761044DC06ABF39415B00E486A26352F070B000000000000000000
    body:
      encoding: UTF-8
      string: '[{"name":"about_us","label":"About Us","description":"Short about-company","groupName":"companyinformation","type":"string","fieldType":"text","createdUserId":null,"referencedObjectType":null,"searchableInGlobalSearch":false,"hasUniqueValue":false,"optionSortStrategy":null,"currencyPropertyName":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"updatedUserId":null,"hidden":false,"options":[],"createdAt":null,"deleted":null,"updatedAt":null,"formField":false,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":true},{"name":"facebookfans","label":"Facebook
        Fans","description":"Number of facebook fans","groupName":"socialmediainformation","type":"number","fieldType":"number","createdUserId":null,"referencedObjectType":null,"searchableInGlobalSearch":false,"hasUniqueValue":false,"optionSortStrategy":null,"currencyPropertyName":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"updatedUserId":null,"hidden":false[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?limit=250&propertiesWithHistory=true&properties=about_us&offset=0&hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B751E2407F8580DD32D5B93EE9097991EE8F3D0EC000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '995654'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '110'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '11'
    body:
      encoding: UTF-8
      string: '{"has-more":false,"offset":532375874,"companies":[{"portalId":62515,"companyId":142226976,"isDeleted":false,"properties":{"about_us":{"value":"Thumbs
        up!","timestamp":1557130626732,"source":"API","sourceId":"CompaniesBatchMutation","versions":[{"name":"about_us","value":"Thumbs
        up!","timestamp":1557130626732,"sourceId":"CompaniesBatchMutation","source":"API","sourceVid":[],"requestId":"bd52152d-fd4b-4b1a-ae9e-0da7a5f9e501"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":154479566,"isDeleted":false,"properties":{"about_us":{"value":"Thumbs
        up!","timestamp":1557130626732,"source":"API","sourceId":"CompaniesBatchMutation","versions":[{"name":"about_us","value":"Thumbs
        up!","timestamp":1557130626732,"sourceId":"CompaniesBatchMutation","source":"API","sourceVid":[],"requestId":"bd52152d-fd4b-4b1a-ae9e-0da7a5f9e501"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":160790833,[...]
