http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/contacts/properties?hapikey=demo
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B51ABEC0487A11B2B2768B10E2480138F4A47B816000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '996457'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '96'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '9'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"annualrevenue","label":"Annual Revenue","description":"Annual
        company revenue","groupName":"contactinformation","type":"string","fieldType":"text","optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"textDisplayHint":null,"optionSortStrategy":null,"updatedUserId":215482,"hidden":false,"options":[],"updatedAt":1501001226232,"formField":true,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":false,"hubspotDefined":true,"deleted":false,"createdAt":1352496309773,"hasUniqueValue":false,"referencedObjectType":null,"numberDisplayHint":null,"createdUserId":null,"searchableInGlobalSearch":false,"currencyPropertyName":null},{"name":"company_size","label":"Company
        size","description":"A contact''s company size. This property is required
        for the Facebook Ads Integration. This property will be automatically synced
        via the Lead Ads tool","groupName":"contactinformation","type":"string","fieldType":"text","optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"textDisplayHint":null,"optionSortStrategy":null,"updatedUserId":null,"hidden":false,"options":[],"update[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?count=100&propertyMode=value_and_history&formSubmissionMode=newest&showListMemberships=false&property=annualrevenue&vidOffset=0&hapikey=demo
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2BBAA0CC9894ABE14BDA67767E1AC6CFA3ABFEC325000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '996455'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '97'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '9'
    body:
      encoding: UTF-8
      file: no
      string: '{"contacts":[{"addedAt":1536741639923,"vid":9332174,"canonical-vid":9332174,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPrtm56My0b1Io24SS6pO3YD1yCg7tfYJl2Qc28VIc8mh6grseMyLRMNwcLpch1rJ4k9hjhuAQOx2gGOtOZolH14UIVtdJwA7NO2rR3HbH-OHd78AywCuBbbqjXrp6uBbzaXODK","profile-url":"https://app.hubspot.com/contacts/62515/contact/9332174","properties":{"lastmodifieddate":{"value":"1577565789575","versions":[{"value":"1577565789575","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1577565789575,"selected":false}]}},"form-submissions":[],"identity-profiles":[{"vid":9332174,"saved-at-timestamp":1536741639806,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"user.testerson@test-provider.com","timestamp":1536741639789,"is-primary":true},{"type":"LEAD_GUID","value":"83f94187-80d0-4dae-88b6-fa3b9dd56741","timestamp":1536741639804}]}],"merge-audits":[]},{"addedAt":1536742229418,"vid":9332474,"canonical-vid":9332474,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNl9cF-zcwDxsApIC1FY1FF45YGcxP62FSMyeuOJhBExjmhNFIib4pCCzI16Z-DEhMzxCbm2jGwZxOcWOtibQaTUdNPK5HZUJezEm-f0EokqEjFT3kzT3bpjiRwH-LBRDV6Hnd5","profile-url":"https://app.hubspot.com/contacts/62515/contact/9332474","properties":{"lastmodifieddate":{"value":"1576198676429","versions":[{"value":"1576198676429","source-type":"CALCULATED","source-id":null,"source-lab[...]
