http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/deals/properties/?hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B42EAB7998B74CD7FA903FC3C042CA9C336C55C43000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '988842'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '95'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '9'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"amount_in_home_currency","label":"Amount in company currency","description":"The
        amount of the deal, using the exchange rate, in your company''s currency","groupName":"dealinformation","type":"number","fieldType":"calculation_equation","textDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":null,"hidden":false,"options":[],"deleted":null,"createdAt":null,"formField":false,"displayOrder":-1,"readOnlyValue":true,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":true,"displayMode":"current_value","showCurrencySymbol":true,"hubspotDefined":true,"updatedAt":null,"referencedObjectType":null,"hasUniqueValue":false,"createdUserId":null,"searchableInGlobalSearch":false,"numberDisplayHint":null,"currencyPropertyName":null},{"name":"days_to_close","label":"Days
        to close","description":"The number of days the deal took to close","groupName":"dealinformation","type":"number","fieldType":"calculation_equation","textDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":null,"hidden":true,"options":[],"deleted":null,"createdAt":null,"formField":false,"displayOrder":-1,"readOnlyValue":true,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":true,"displayMode":"current_value","showCurrencySymbol":false,"hubspotDefined":true,"updatedAt":null,"referencedObjectType":null,"hasUniqueValue":false,"createdUserId":null,"searchableInGlobalSearch":false,"numberDisplayHint":null,"currencyPropertyName":null},{"name":"hs_analytics_source","label":"Original
        Source Type","description":"Original source for the contact with the earliest
        activity for this deal.","groupName":"analyticsinformation","type":"enumeration","fieldType":"select","textDisplayHint":null,"optionsAreMutable":false,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":null,"hidden":false,"options":[{"description":null,"value":"ORGANIC_SEARCH","readOnly":null,"hidden":false,"label":"Organic
        Search","doubleData":null,"displayOrder":0},{"description":null,"value":"PAID_SEARCH","readOnly":null,"hidden":false,"label":"Paid
        Search","doubleData":null,"displayOrder":1},{"description":null,"value":"EMAIL_MARKETING","readOnly":null,"hidden":false,"label":"Email
        Marketing","doubleData":null,"displayOrder":2},{"description":null,"value":"SOCIAL_MEDIA","readOnly":null,"hidden":false,"label":"Social
        Media","doubleData":null,"displayOrder":3},{"description":null,"value":"REFERRALS","readOnly"[...]
[...]
