http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/companies/properties/?hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B1E99119B43ACCF3A0911B88FE3180B8B53942F21000000000000000000
    body:
      encoding: UTF-8
      string: '[{"name":"about_us","label":"About Us","description":"Short about-company","groupName":"companyinformation","type":"string","fieldType":"text","updatedAt":null,"formField":false,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":true,"deleted":null,"hidden":false,"hasUniqueValue":false,"referencedObjectType":null,"createdUserId":null,"searchableInGlobalSearch":false,"optionSortStrategy":null,"currencyPropertyName":null,"textDisplayHint":null,"numberDisplayHint":null,"options":[],"isCustomizedDefault":false,"optionsAreMutable":null,"searchTextAnalysisMode":null,"updatedUserId":null,"createdAt":null},{"name":"facebookfans","label":"Facebook
        Fans","description":"Number of facebook fans","groupName":"socialmediainformation","type":"number","fieldType":"number","updatedAt":null,"formField":false,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":true,"deleted":null,"hidden":fal[...]
