http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/companies/properties/?hapikey=demo
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B0C323AA045B920B0EE762B700001B125A445DC85000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '994271'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '98'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '9'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"about_us","label":"About Us","description":"Short about-company","groupName":"companyinformation","type":"string","fieldType":"text","currencyPropertyName":null,"textDisplayHint":null,"optionsAreMutable":null,"searchTextAnalysisMode":null,"isCustomizedDefault":false,"optionSortStrategy":null,"updatedUserId":null,"hidden":false,"options":[],"createdAt":null,"deleted":null,"formField":false,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":true,"updatedAt":null,"referencedObjectType":null,"hasUniqueValue":false,"createdUserId":null,"searchableInGlobalSearch":false,"numberDisplayHint":null},{"name":"closedate_timestamp_earliest_value_a2a17e6e","label":"closedate_timestamp_earliest_value_a2a17e6e","description":"Calculation
        context property providing timestamp for rollup property closedate calculated
        as EARLIEST_VALUE via values of closedate on object type ObjectTypeId{legacyObjectType=CONTACT}","groupName":"companyinformation","type":"datetime","fieldType":"text","currencyPropertyName":null,"textDisplayHint":null,"optionsAreMutable":null,"searchTextAnalysisMod[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?limit=250&propertiesWithHistory=true&properties=about_us&offset=0&hapikey=demo
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B7C9E4D8BF8BA87078E062B1410B1A0E742332EAC000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '994268'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '101'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '10'
    body:
      encoding: UTF-8
      file: no
      string: '{"has-more":false,"offset":532375874,"companies":[{"portalId":62515,"companyId":142226976,"isDeleted":false,"properties":{"about_us":{"value":"Thumbs
        up!","timestamp":1557130626732,"source":"API","sourceId":"CompaniesBatchMutation","versions":[{"name":"about_us","value":"Thumbs
        up!","timestamp":1557130626732,"sourceId":"CompaniesBatchMutation","source":"API","sourceVid":[],"requestId":"bd52152d-fd4b-4b1a-ae9e-0da7a5f9e501"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":154479566,"isDeleted":false,"properties":{"about_us":{"value":"Thumbs
        up!","timestamp":1557130626732,"source":"API","sourceId":"CompaniesBatchMutation","versions":[{"name":"about_us","value":"Thumbs
        up!","timestamp":1557130626732,"sourceId":"CompaniesBatchMutation","source":"API","sourceVid":[],"requestId":"bd52152d-fd4b-4b1a-ae9e-0da7a5f9e501"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":160790833,[...]
