http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/contacts/properties?hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2BE18A9CE88A68069551B6E69BC1CACC4A4F6A0045000000000000000000
    body:
      encoding: UTF-8
      string: '[{"name":"annualrevenue","label":"Annual Revenue","description":"Annual
        company revenue","groupName":"contactinformation","type":"string","fieldType":"text","createdAt":1352496309773,"updatedAt":1501001226232,"formField":true,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":false,"hubspotDefined":true,"deleted":false,"hidden":false,"hasUniqueValue":false,"referencedObjectType":null,"createdUserId":null,"searchableInGlobalSearch":false,"currencyPropertyName":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"searchTextAnalysisMode":null,"isCustomizedDefault":false,"optionSortStrategy":null,"updatedUserId":215482,"options":[]},{"name":"company_size","label":"Company
        size","description":"A contact''s company size. This property is required
        for the Facebook Ads Integration. This property will be automatically synced
        via the Lead Ads tool","groupName":"contactinformation","type":"string","fieldType":"text","createdAt":null,"updatedAt":null,"formField":true,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":true,"favorited":false,"favoritedOrder":[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?vidOffset=0&hapikey=demo&count=100&propertyMode=value_and_history&formSubmissionMode=newest&showListMemberships=false&properties=annualrevenue
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '991509'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-remaining: '110'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '11'
      x-trace: 2B443C7E284583CCAD720E3332B5D82700D89B2FD4000000000000000000
    body:
      encoding: UTF-8
      string: '{"contacts":[{"addedAt":1536741639923,"vid":9332174,"canonical-vid":9332174,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mOWhBSEOBqMcwWBy2luNEExWzBcE17sDbHnGyeP0-9US0yGsoCexYEipxGDVQcz-xD4qzj2MLAUsCUAcNA1lu6dJRuhDGUk5V5GbwFxkWHkN-MhRZgbOQ04R3yQYBHTTmW39Tbu","profile-url":"https://app.hubspot.com/contacts/62515/contact/9332174","properties":{"firstname":{"value":"User","versions":[{"value":"User","source-type":"API","source-id":null,"source-label":null,"timestamp":1536741639784,"selected":false}]},"lastmodifieddate":{"value":"1572023625218","versions":[{"value":"1572023625218","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1572023625218,"selected":false}]},"lastname":{"value":"Testerson","versions":[{"value":"Testerson","source-type":"API","source-id":null,"source-label":null,"timestamp":1536741639784,"selected":false}]}},"form-submissions":[],"identity-profiles":[{"vid":9332174,"saved-at-timestamp":1536741639806,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"user.testerson@test-provider.com","timestamp":1536741639789,"is-primary":true},{"type":"LEAD_GUID","value":"83f94187-80d0-4dae-88b6-fa3b9dd56741","timestamp":1536741639804}]}],"merge-audits":[]},{"addedAt":1536742229418,"vid":9332474,"canonical-vid":9332474,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mOK8u8nSeEwXX4Fvo6xEbjIQBX1WRN5HOzF9thMCOwf5LUUDkwMBsTDGwqplAbfxXFFHBIXUJBGeHSBA0ec8o7KS9gd-8UIQG10hGtFbRz9p_MQBobZEf3zaPfD3D9V_VpoHx_7","profile-url":"https://app.hubspot.com/contacts/62515/contact/9332474","properties":{"firstname":{"value":"User","versions":[{"value":"User","source-type":"API","source-id":null,"source-label":null,"timestamp":15367422292[...]
