http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/companies/properties/?hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B6F9430188302F43CBD36DF8EC9D2DDF375E9B60E000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '988893'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '116'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '11'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"about_us","label":"About Us","description":"Short about-company","groupName":"companyinformation","type":"string","fieldType":"text","optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"textDisplayHint":null,"optionSortStrategy":null,"updatedUserId":null,"options":[],"hidden":false,"deleted":null,"createdAt":null,"formField":false,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":true,"updatedAt":null,"referencedObjectType":null,"hasUniqueValue":false,"createdUserId":null,"searchableInGlobalSearch":false,"numberDisplayHint":null,"currencyPropertyName":null},{"name":"closedate_timestamp_earliest_value_a2a17e6e","label":"closedate_timestamp_earliest_value_a2a17e6e","description":"Calculation
        context property providing timestamp for rollup property closedate calculated
        as EARLIEST_VALUE via values of closedate on object type ObjectTypeId{legacyObjectType=CONTACT}","groupName":"companyinformation","type":"datetime","fieldType":"text","optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"textDisplayHin[...]
[...]
