http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/contacts/properties?hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2BB840431FA27E15D2F023186796480622BF66B8EE000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '988883'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '107'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '10'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"annualrevenue","label":"Annual Revenue","description":"Annual
        company revenue","groupName":"contactinformation","type":"string","fieldType":"text","currencyPropertyName":null,"textDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":215482,"hidden":false,"updatedAt":1501001226232,"options":[],"formField":true,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":false,"hubspotDefined":true,"deleted":false,"createdAt":1352496309773,"hasUniqueValue":false,"referencedObjectType":null,"numberDisplayHint":null,"createdUserId":null,"searchableInGlobalSearch":false},{"name":"company_size","label":"Company
        size","description":"A contact''s company size. This property is required
        for the Facebook Ads Integration. This property will be automatically synced
        via the Lead Ads tool","groupName":"contactinformation","type":"string","fieldType":"text","currencyPropertyName":null,"textDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":null,"hidde[...]
