http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/companies/properties/?hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2BF0ECBA794FBA516DF6E6523A06679E125A347981000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '995423'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '117'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '11'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"about_us","label":"About Us","description":"Short about-company","groupName":"companyinformation","type":"string","fieldType":"text","createdUserId":null,"referencedObjectType":null,"searchableInGlobalSearch":false,"hasUniqueValue":false,"optionSortStrategy":null,"numberDisplayHint":null,"currencyPropertyName":null,"textDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"updatedUserId":null,"hidden":false,"options":[],"createdAt":null,"deleted":null,"formField":false,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":true,"updatedAt":null},{"name":"closedate_timestamp_earliest_value_a2a17e6e","label":"closedate_timestamp_earliest_value_a2a17e6e","description":"Calculation
        context property providing timestamp for rollup property closedate calculated
        as EARLIEST_VALUE via values of closedate on object type ObjectTypeId{legacyObjectType=CONTACT}","groupName":"companyinformation","type":"datetime","fieldType":"text","createdUserId":null,"referencedObjectType":null,"searchableInGlobalSearch":false,"hasUniqueValue"[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?limit=250&propertiesWithHistory=about_us&offset=0&hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B4D1CECC4B095BF63476B8784234B5557FE821F9B000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '995419'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '113'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '11'
    body:
      encoding: UTF-8
      file: no
      string: '{"has-more":false,"offset":532375874,"companies":[{"portalId":62515,"companyId":142226976,"isDeleted":false,"properties":{"about_us":{"value":"Thumbs
        up!","timestamp":1557130626732,"source":"API","sourceId":"CompaniesBatchMutation","versions":[{"name":"about_us","value":"Thumbs
        up!","timestamp":1557130626732,"sourceId":"CompaniesBatchMutation","source":"API","sourceVid":[],"requestId":"bd52152d-fd4b-4b1a-ae9e-0da7a5f9e501"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":154479566,"isDeleted":false,"properties":{"about_us":{"value":"Thumbs
        up!","timestamp":1557130626732,"source":"API","sourceId":"CompaniesBatchMutation","versions":[{"name":"about_us","value":"Thumbs
        up!","timestamp":1557130626732,"sourceId":"CompaniesBatchMutation","source":"API","sourceVid":[],"requestId":"bd52152d-fd4b-4b1a-ae9e-0da7a5f9e501"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":62515,"companyId":160790833,[...]
