http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/contacts/properties?hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B6949F8DF58DC8B07BBEE870C209A8A2BB6FAFF50000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '988352'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '103'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '10'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"annualrevenue","label":"Annual Revenue","description":"Annual
        company revenue","groupName":"contactinformation","type":"string","fieldType":"text","currencyPropertyName":null,"textDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":215482,"hidden":false,"options":[],"deleted":false,"createdAt":1352496309773,"formField":true,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":false,"hubspotDefined":true,"updatedAt":1501001226232,"referencedObjectType":null,"hasUniqueValue":false,"createdUserId":null,"searchableInGlobalSearch":false,"numberDisplayHint":null},{"name":"company_size","label":"Company
        size","description":"A contact''s company size. This property is required
        for the Facebook Ads Integration. This property will be automatically synced
        via the Lead Ads tool","groupName":"contactinformation","type":"string","fieldType":"text","currencyPropertyName":null,"textDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":null,"hidden[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?count=100&propertyMode=value_and_history&formSubmissionMode=newest&showListMemberships=false&property=annualrevenue&vidOffset=0&hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2BBD36C990FA603B1386E3EB07555ADBD91AB6C642000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '988350'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '101'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '10'
    body:
      encoding: UTF-8
      file: no
      string: '{"contacts":[{"addedAt":1536741639923,"vid":9332174,"canonical-vid":9332174,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPMAkKIqDjl-CM4VUi9ADE3uOTJ8huWlby4opS1UEpYpW1S-xh5L5weq5YpIDRGPu28JvE8_JdJAL-75FAt5E1jhJpIbmGh47_MPV8SRPqij6dhoerdY8WNLRUDIxT3BB4iQhdw","profile-url":"https://app.hubspot.com/contacts/62515/contact/9332174","properties":{"lastmodifieddate":{"value":"1577565789575","versions":[{"value":"1577565789575","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1577565789575,"selected":false}]}},"form-submissions":[],"identity-profiles":[{"vid":9332174,"saved-at-timestamp":1536741639806,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"user.testerson@test-provider.com","timestamp":1536741639789,"is-primary":true},{"type":"LEAD_GUID","value":"83f94187-80d0-4dae-88b6-fa3b9dd56741","timestamp":1536741639804}]}],"merge-audits":[]},{"addedAt":1536742229418,"vid":9332474,"canonical-vid":9332474,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mP_qv9IHY-RYrWRhbTyBMT0BkcT1h6TzZhWUQXJcCWo8GmXBNdzqnO9uriWkUwQx3Y5uBsDQoMmin3FcctsZV3eFD9M-IQf3NFAIusUy3eSsOtPizLqu8a-Muie0ffVNxahm-c1","profile-url":"https://app.hubspot.com/contacts/62515/contact/9332474","properties":{"lastmodifieddate":{"value":"1576198676429","versions":[{"value":"1576198676429","source-type":"CALCULATED","source-id":null,"source-lab[...]
