http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?count=250&offset=0&hapikey=demo
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2BC229FD26A8FA78DBCBE7E00D51CE4A080EDDD344000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '988701'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '107'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '10'
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":250,"lists":[{"portalId":62515,"listId":21916,"internalListId":154886,"createdAt":1395249992415,"updatedAt":1395249992415,"name":"Marketing
        Mary Persona - All Contacts","listType":"DYNAMIC","filters":[[{"operator":"SET_ANY","filterFamily":"PropertyValue","withinTimeMode":"PAST","type":"enumeration","property":"hs_persona","value":"persona_1"}]],"metaData":{"size":0,"lastSizeChangeAt":1556311087834,"processing":"DONE","lastProcessingStateChangeAt":1459311365947,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"deleteable":false,"dynamic":true,"readOnly":true},{"portalId":62515,"listId":21917,"internalListId":154887,"createdAt":1395249992519,"updatedAt":1395249992519,"name":"Marketing
        Mary Persona - MQLs","listType":"DYNAMIC","filters":[[{"operator":"SET_ANY","filterFamily":"PropertyValue","withinTimeMode":"PAST","type":"enumeration","property":"hs_persona","value":"persona_1"},{"operator":"SET_ANY","filterFamily":"PropertyValue","withinTimeMode":"PAST","type":"enumeration","property":"lifecyclestage","value":"marketingqualifiedlead"}]],[...]
