http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/deals/properties/?hapikey=demo
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B5E552F3E5F8C36F754C0CB3C2413B92DD30888CB000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '988621'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '87'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '8'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"amount_in_home_currency","label":"Amount in company currency","description":"The
        amount of the deal, using the exchange rate, in your company''s currency","groupName":"dealinformation","type":"number","fieldType":"calculation_equation","currencyPropertyName":null,"textDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":null,"hidden":false,"options":[],"deleted":null,"createdAt":null,"formField":false,"displayOrder":-1,"readOnlyValue":true,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":true,"displayMode":"current_value","showCurrencySymbol":true,"hubspotDefined":true,"updatedAt":null,"hasUniqueValue":false,"referencedObjectType":null,"createdUserId":null,"searchableInGlobalSearch":false,"numberDisplayHint":null},{"name":"days_to_close","label":"Days
        to close","description":"The number of days the deal took to close","groupName":"dealinformation","type":"number","fieldType":"calculation_equation","currencyPropertyName":null,"textDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":null,"hidden":true,"options":[],"deleted":null,"createdAt":null,"formField":false,"displayOrder":-1,"readOnlyValue":true,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":true,"displayMode":"current_value","showCurrencySymbol":false,"hubspotDefined":true,"updatedAt":null,"hasUniqueValue":false,"referencedObjectType":null,"createdUserId":null,"searchableInGlobalSearch":false,"numberDisplayHint":null},{"name":"hs_analytics_source","label":"Original
        Source Type","description":"Original source for the contact with the earliest
        activity for this deal.","groupName":"analyticsinformation","type":"enumeration","fieldType":"select","currencyPropertyName":null,"textDisplayHint":null,"optionsAreMutable":false,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":null,"hidden":false,"options":[{"readOnly":null,"description":null,"hidden":false,"label":"Organic
        Search","value":"ORGANIC_SEARCH","displayOrder":0,"doubleData":null},{"readOnly":null,"description":null,"hidden":false,"label":"Paid
        Search","value":"PAID_SEARCH","displayOrder":1,"doubleData":null},{"readOnly":null,"description":null,"hidden":false,"label":"Email
        Marketing","value":"EMAIL_MARKETING","displayOrder":2,"doubleData":null},{"readOnly":null,"description":null,"hidden":false,"label":"Social
        Media","value":"SOCIAL_MEDIA","displayOrder":3,"doubleData":null},{"readOnly":null,"description":null,"hidden":false,"label":"Referra[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/paged?limit=250&includeAssociations=true&propertiesWithHistory=amount_in_home_currency&propertiesWithHistory=days_to_close&propertiesWithHistory=hs_analytics_source&propertiesWithHistory=hs_analytics_source_data_1&propertiesWithHistory=hs_analytics_source_data_2&propertiesWithHistory=hs_campaign&propertiesWithHistory=hs_closed_amount&propertiesWithHistory=hs_closed_amount_in_home_currency&propertiesWithHistory=hs_created_by[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/paged?limit=250&includeAssociations=true&properties=amount_in_home_currency&properties=days_to_close&properties=hs_analytics_source&properties=hs_analytics_source_data_1&properties=hs_analytics_source_data_2&properties=hs_campaign&properties=hs_closed_amount&properties=hs_closed_amount_in_home_currency&properties=hs_created_by_user_id&properties=hs_deal_amount_calculation_preference&properties=hs_deal_stage_probability&prop[...]
[...]
