http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/deals/properties/?hapikey=demo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2BC3490319D7DFC06BE3D1E0B4168BFF1DD77C08CF000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '997147'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '94'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '9'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"amount_in_home_currency","label":"Amount in company currency","description":"The
        amount of the deal, using the exchange rate, in your company''s currency","groupName":"dealinformation","type":"number","fieldType":"calculation_equation","textDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":null,"hidden":false,"options":[],"updatedAt":null,"referencedObjectType":null,"hasUniqueValue":false,"deleted":null,"createdAt":null,"formField":false,"displayOrder":-1,"readOnlyValue":true,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":true,"displayMode":"current_value","showCurrencySymbol":true,"hubspotDefined":true,"createdUserId":null,"searchableInGlobalSearch":false,"numberDisplayHint":null,"currencyPropertyName":null},{"name":"days_to_close","label":"Days
        to close","description":"The number of days the deal took to close","groupName":"dealinformation","type":"number","fieldType":"calculation_equation","textDisplayHint":null,"optionsAreMutable":null,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":null,"hidden":true,"options":[],"updatedAt":null,"referencedObjectType":null,"hasUniqueValue":false,"deleted":null,"createdAt":null,"formField":false,"displayOrder":-1,"readOnlyValue":true,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":true,"displayMode":"current_value","showCurrencySymbol":false,"hubspotDefined":true,"createdUserId":null,"searchableInGlobalSearch":false,"numberDisplayHint":null,"currencyPropertyName":null},{"name":"hs_analytics_source","label":"Original
        Source Type","description":"Original source for the contact with the earliest
        activity for this deal.","groupName":"analyticsinformation","type":"enumeration","fieldType":"select","textDisplayHint":null,"optionsAreMutable":false,"isCustomizedDefault":false,"searchTextAnalysisMode":null,"optionSortStrategy":null,"updatedUserId":null,"hidden":false,"options":[{"doubleData":null,"label":"Organic
        Search","hidden":false,"description":null,"displayOrder":0,"readOnly":null,"value":"ORGANIC_SEARCH"},{"doubleData":null,"label":"Paid
        Search","hidden":false,"description":null,"displayOrder":1,"readOnly":null,"value":"PAID_SEARCH"},{"doubleData":null,"label":"Email
        Marketing","hidden":false,"description":null,"displayOrder":2,"readOnly":null,"value":"EMAIL_MARKETING"},{"doubleData":null,"label":"Social
        Media","hidden":false,"description":null,"displayOrder":3,"readOnly":null,"value":"SOCIAL_MEDIA"},{"doubleData":null,"label":"Referrals","hidden":false,"[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/paged?limit=250&includeAssociations=true&propertiesWithHistory=amount_in_home_currency&propertiesWithHistory=days_to_close&propertiesWithHistory=hs_analytics_source&propertiesWithHistory=hs_analytics_source_data_1&propertiesWithHistory=hs_analytics_source_data_2&propertiesWithHistory=hs_campaign&propertiesWithHistory=hs_closed_amount&propertiesWithHistory=hs_closed_amount_in_home_currency&propertiesWithHistory=hs_created_by[...]
