http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/paged?count=250&offset=0&hapikey=demo
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2BE833C8FC5543C0C25F059F6ECD6FD91257B3E827000000000000000000
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '988562'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '107'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '10'
    body:
      encoding: UTF-8
      file: no
      string: '{"results":[{"engagement":{"id":3981023,"portalId":62515,"active":true,"createdAt":1427805706555,"lastUpdated":1565303897789,"ownerId":1,"type":"PUBLISHING_TASK","uid":"null-2682673052","timestamp":1409172644778,"allAccessibleTeamIds":[],"bodyPreview":"a
        new note body","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n a new note body\n </body>\n</html>"},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"scheduledTasks":[],"metadata":{"body":"a
        new note body"}},{"engagement":{"id":4318933,"portalId":62515,"active":true,"createdAt":1428586620389,"lastUpdated":1566391286836,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"NOTE","timestamp":1428586620389,"allAccessibleTeamIds":[],"bodyPreview":"Test","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n Test\n </body>\n</html>"},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"Test"}},{"engagement":{"id":4709059,"portalId":62515,"active":true,"createdAt":1428586724779,"lastUpdated":1566451988469,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"CALL","timestamp":1428565020000,"allAccessibleTeamIds":[],"bodyPreview":"test
        call","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n test call\n </body>\n</html>"},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"durationMilliseconds":0,"body":"test
        call"}},{"engagement":{"id":4709069,"portalId":62515,"active":true,"createdAt":1428586729715,"lastUpdated":1566664675729,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"CALL","timestamp":1428565020000,"allAccessibleTeamIds":[],"bodyPreview":"fezfze","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n fezfze\n </body>\n</html>"},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds"[...]
[...]
