http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/forms?limit=250&hapikey=demo
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-trace: 2B63BC5744D1F06E163D79BDB1D3E131DC919224C5000000000000000000
      x-total-count: '2'
      x-hubspot-ratelimit-daily: '1000000'
      x-hubspot-ratelimit-daily-remaining: '994742'
      x-hubspot-ratelimit-interval-milliseconds: '10000'
      x-hubspot-ratelimit-remaining: '104'
      x-hubspot-ratelimit-max: '120'
      x-hubspot-ratelimit-secondly: '12'
      x-hubspot-ratelimit-secondly-remaining: '10'
    body:
      encoding: UTF-8
      file: no
      string: '[{"portalId":62515,"guid":"038e819c-5262-4c13-8550-8cabe38c4309","name":"Example
        form with file upload","action":"","method":"POST","cssClass":"hs-form stacked","redirect":"","submitText":"Submit","followUpId":"","notifyRecipients":"100097","leadNurturingCampaignId":"","formFieldGroups":[{"fields":[{"name":"email","label":"Email","type":"string","fieldType":"text","description":"","groupName":"contactinformation","displayOrder":-1,"required":true,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false,"propertyObjectType":"CONTACT","metaData":[]}],"default":true,"isSmartGroup":false,"richText":{"content":"","type":"TEXT"}},{"fields":[{"name":"upload_a_file","label":"Upload
        a file","type":"string","fieldType":"file","description":"","groupName":"contactinformation","displayOrder":-1,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false,"propertyObjectType":"CONTACT","metaData":[]}],"default":true,"isSmartGroup":false,"richText":{"content":"","type":"TEXT"}}],"createdAt":1572891297226,"updatedAt":1572897032433,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[{"name":"lang","value":"en"}],"deletable":true,"inlineMessage":"Thanks
        for submitting the form.","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":"canvas","parentId":0,"style":"{\"fontFamily\":\"helvetica\",\"backgroundWidth\":\"100%\",\"labelTextColor\":\"#33475b\",\"labelTextSize\":\"13px\",\"helpTextColor\":\"#7C98B6\",\"helpTextSize\":\"11px\",\"legalConsentTextColor\":\"#33475b\",\"legalConsentTextSize\":\"14px\",\"submitColor\":\"#ff7a59\",\"submitAlignment\":\"left\",\"submitFontColor\":\"#ffffff\",\"submitSize\":\"12px\"}","isPublished":false,"publishAt":0,"unpublishAt":0,"publishedAt":0,"multivariateTest":{"variants":[],"startAtTimestamp":0,"endAtTimestamp":0,"winningVariantId":"","finished":false,"controlId":""},"kickbackEmailWorkflowId":0,"kickbackEmailsJson":"","customUid":"","createMarketableContact":true},{"portalId":62515,"guid":"233bb53d-071f-4d39-8859-f041855bbbd4","name":"Subscribe
        to Example blog Notifications 10500366470","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Subscribe","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[{"fields":[{"name":"email","label":"Email","type":"string","fieldType":"text","description":"","groupName":"contactinformation","displayOrder":0,"required":true,"selectedO[...]
